.nav-link {
  border-radius: 999px;
  padding: 8px 20px !important;
  transition: 0.3s;
}

.nav-link.active,
.nav-link:hover {
  background-color: #3B82F6;
  color: #fff !important;
}

.navbar {
  background-color: #0D1425;
}

@media (max-width: 991.98px) {
  .navbar-nav {
    align-items: center;
    gap: 8px;
  }

  .nav-link {
    display: inline-block;
    width: auto;
  }
}

