<footer class="site-footer py-4">
  <div class="container d-flex flex-column flex-lg-row justify-content-between align-content-center text-center text-lg-start gap-2">
    <div>
      <a class="navbar-brand fw-bold fs-4" href="index.html">
        Cam<span class="text-primary">Connect</span>
      </a>
      <p class="text-muted small mb-0">A student project. Website Updated Daily.</p>
    </div>
    <p class="text-muted small mb-0">&copy; 2027 CamConnect</p>
  </div>
</footer>

<!-- 
<footer class="site-footer py-4">
  <div class="container d-flex flex-column flex-lg-row justify-content-between align-items-center text-center text-lg-start gap-2">

    <div>
      <a class="navbar-brand fw-bold fs-4" href="index.html">
        Cam<span class="text-primary">Connect</span>
      </a>
      <p class="text-muted small mb-0">A student project. Website Updated Weekly</p>
    </div>

    <p class="text-muted small mb-0">&copy; 2027 CamConnect</p>

  </div>
</footer> -->